@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.Sora {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
}

.Accent {
    background-color: #9538E2;
}

.AccentText {
    color: #9538E2;
}

.AccentBorder {
    border: 1.5px solid #9538E2;
}

.BlackText {
    color: #09080F;
}

.GrayText {
    color: rgba(9, 8, 15, 0.60);
}

.PriceText {
    color: rgba(9, 8, 15, 0.80);
}

.TransparentBg {
    background: rgba(255, 255, 255, 0.30);
}

.inStock {
    color: #309C08;
    border-color: #309C08;
    background: rgba(48, 156, 8, 0.10);
}

.outOfStock {
    color: #FF0000;
    border-color: #FF0000;
    background: rgba(255, 0, 0, 0.1);
}

.PurchaseBtn {
    border-radius: 32px;
    background: linear-gradient(90deg, #8020C7, #BF55ED, #B95CEA, #973EE0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}